body {
  background: #14142e;
  color: #5d2277;
}

header {
  background: #14142e;
  color: #5d2277;
}

main {
  min-height: 80vh;
  background-color: #6f8d33;
}
footer {
  background: #14142e;
  color: #e6b1c3;
}
