body {
  background: #14142e;
  color: #5d2277;
}

header {
  background: #14142e;
  color: #5d2277;
}

main {
  min-height: 80vh;
  background-color: #ffffff;
}
footer {
  background: #593196;
  color: #ffffff;
}
